header{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

header li{
    list-style: none;
    float: left;
    padding: 5px 10px;
}

header a{
    text-decoration: none;
    color: gray;
}

header a:active {
    color: black;
}