/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 500px; /* 컨테이너의 최대 너비를 늘림 */
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.posting_container{
    max-width: 1000px;
}
.posts_container{
    max-width: 700px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea { /* textarea도 동일한 스타일 적용 */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px; /* 모든 입력 요소에 위쪽 마진 추가 */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #63d075;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #428e4f;
}

/* 로그인 페이지 스타일 */
.login-container {
    max-width: 300px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 회원가입 페이지 스타일 */
.signup-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 게시글 작성 페이지 스타일 */
.post {
    border-bottom: 1px solid #ddd; /* 각 게시글 사이에 구분선 추가 */
    padding-bottom: 20px; /* 각 게시글 아래 간격 추가 */
}

.post h3 {
    color: #151515; /* 게시글 제목 색상 변경 */
    text-align: center;
    margin-bottom: 5px;
}

.post p {
    color: #777; /* 게시글 정보 색상 변경 */
    margin-bottom: 5px;
}

.post p:last-child {
    margin-bottom: 0; /* 게시글 마지막 단락의 하단 마진 제거 */
}
.textsm{
    font-size: 12px;
}
.textmd{
    font-size: 15px;
}
